<div class="container" style="margin-bottom:20px; margin-top:20px;max-width:1200px;">
    <div class="row">
      <div class="col-md-12">
        <div style="margin-top:10px">
<center>
	<!-- bootsnipp-leaderboard-2 -->
<!--	<ins class="adsbygoogle"
	     style="display:inline-block;width:728px;height:90px"
	     data-ad-client="ca-pub-8815422507798180"
	     data-ad-slot="6745801727"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
-->

<!-- BuySellAds Zone Code -->
<div style="width: 728px;display:inline-block" id="bsap_1305164" class="bsarocks bsap_ac1f95c148ce6148393fd34e69a52240"></div>
<!-- End BuySellAds Zone Code -->

<div class="hidden-xs hidden-sm hidden-md j5zg6" style="vertical-align: top; display: inline-block; margin-left: 10px; height: 90px; visibility: visible;"><a href="https://codecanyon.net/?ref=skyhighpn"><img src="/img/cc2.jpg"></a><p></p></div>
</center>
</div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h1><a href="http://bootsnipp.com/tags" class="btn btn-lg btn-default">View all tags</a> 51 Snippets tagged with "gallery":</h1>

              </div>
    </div>

    <div class="row">
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/featured/masonry-image-gallery" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">75.3K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/featured/masonry-image-gallery" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">31 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.3.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.3.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/featured/masonry-image-gallery">masonry Image Gallery</a>
	    	</p>
	    </div>
            <a href="http://bootsnipp.com/snippets/featured/masonry-image-gallery">
                <img class="lazy" data-original="http://bootsnipp.com/img/screenshots/13b48e2c9cb94c759bb388b935eac468f83e3f7c.jpg" width="320" height="240" alt="masonry Image Gallery" src="http://bootsnipp.com/img/screenshots/13b48e2c9cb94c759bb388b935eac468f83e3f7c.jpg" style="display: block;">
        </a>

    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/featured/masonry-image-gallery" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/featured/carousel-with-gallery-thumbs" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">85.1K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/featured/carousel-with-gallery-thumbs" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">156 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.2.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.2.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/featured/carousel-with-gallery-thumbs">Carousel with Gallery Thumbs</a>
	    	</p>
	    </div>
            <a href="http://bootsnipp.com/snippets/featured/carousel-with-gallery-thumbs">
                <img class="lazy" data-original="http://bootsnipp.com/img/screenshots/725646cedef1cdee0e5b326e286f89f5d0000526.jpeg" width="320" height="240" alt="Carousel with Gallery Thumbs" src="http://bootsnipp.com/img/screenshots/725646cedef1cdee0e5b326e286f89f5d0000526.jpeg" style="display: block;">
        </a>

    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/featured/carousel-with-gallery-thumbs" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/featured/microscope-for-images" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">39.0K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/featured/microscope-for-images" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">173 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.1.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.1.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/featured/microscope-for-images">Microscope For Images</a>
	    	</p>
	    </div>
            <a href="http://bootsnipp.com/snippets/featured/microscope-for-images">
                <img class="lazy" data-original="http://bootsnipp.com/img/screenshots/545b14c4e17d2631e932d6b3b39314836a1a2de0.jpeg" width="320" height="240" alt="Microscope For Images" src="http://bootsnipp.com/img/screenshots/545b14c4e17d2631e932d6b3b39314836a1a2de0.jpeg" style="display: block;">
        </a>

    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/featured/microscope-for-images" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/featured/magnifying-glass-for-images" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">66.5K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/featured/magnifying-glass-for-images" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">278 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.1.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.1.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/featured/magnifying-glass-for-images">Magnifying Glass for Images</a>
	    	</p>
	    </div>
            <a href="http://bootsnipp.com/snippets/featured/magnifying-glass-for-images">
                <img class="lazy" data-original="http://bootsnipp.com/img/screenshots/6f5a9307314594b636e895bd89b6fb90d184f741.jpeg" width="320" height="240" alt="Magnifying Glass for Images" src="http://bootsnipp.com/img/screenshots/6f5a9307314594b636e895bd89b6fb90d184f741.jpeg" style="display: block;">
        </a>

    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/featured/magnifying-glass-for-images" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/featured/thumbnails-2-popups-with-tb-modals" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">66.2K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/featured/thumbnails-2-popups-with-tb-modals" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">56 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.1.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.1.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/featured/thumbnails-2-popups-with-tb-modals">Thumbnails (2)  popups with TB modals</a>
	    	</p>
	    </div>
            <a href="http://bootsnipp.com/snippets/featured/thumbnails-2-popups-with-tb-modals">
                <img class="lazy" data-original="http://bootsnipp.com/img/screenshots/9299aea32504e2f4050d3e6343155a7e528340aa.jpeg" width="320" height="240" alt="Thumbnails (2)  popups with TB modals" src="http://bootsnipp.com/img/screenshots/9299aea32504e2f4050d3e6343155a7e528340aa.jpeg" style="display: block;">
        </a>

    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/featured/thumbnails-2-popups-with-tb-modals" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/featured/simple-responsive-image-gallery" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">158.0K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/featured/simple-responsive-image-gallery" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">149 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.1.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.1.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/featured/simple-responsive-image-gallery">Simple Responsive Image Gallery</a>
	    	</p>
	    </div>
            <a href="http://bootsnipp.com/snippets/featured/simple-responsive-image-gallery">
                <img class="lazy" data-original="http://bootsnipp.com/img/screenshots/4db2db5b1a9eda8003db63551c8ae4e3661ea709.jpeg" width="320" height="240" alt="Simple Responsive Image Gallery" src="http://bootsnipp.com/img/screenshots/4db2db5b1a9eda8003db63551c8ae4e3661ea709.jpeg" style="display: block;">
        </a>

    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/featured/simple-responsive-image-gallery" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/featured/modal-lightbox-with-likedislike" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">61.5K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/featured/modal-lightbox-with-likedislike" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">175 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.1.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.1.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/featured/modal-lightbox-with-likedislike">Modal lightbox with like/dislike</a>
	    	</p>
	    </div>
            <a href="http://bootsnipp.com/snippets/featured/modal-lightbox-with-likedislike">
                <img class="lazy" data-original="http://bootsnipp.com/img/screenshots/531242df0b2e42ea0228676fbbaa36b542f6a920.jpeg" width="320" height="240" alt="Modal lightbox with like/dislike" src="http://bootsnipp.com/img/screenshots/531242df0b2e42ea0228676fbbaa36b542f6a920.jpeg" style="display: block;">
        </a>

    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/featured/modal-lightbox-with-likedislike" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/featured/minimal-preview-thumbnails" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">63.9K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/featured/minimal-preview-thumbnails" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">113 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.1.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.1.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/featured/minimal-preview-thumbnails">Minimal Preview Thumbnails</a>
	    	</p>
	    </div>
            <a href="http://bootsnipp.com/snippets/featured/minimal-preview-thumbnails">
                <img class="lazy" data-original="http://bootsnipp.com/img/screenshots/7591df1537b5248bb1145dcf619e55af9ae77932.jpeg" width="320" height="240" alt="Minimal Preview Thumbnails" src="http://bootsnipp.com/img/screenshots/7591df1537b5248bb1145dcf619e55af9ae77932.jpeg" style="display: block;">
        </a>

    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/featured/minimal-preview-thumbnails" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/featured/thumbnail-hover-without-javascript" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">34.9K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/featured/thumbnail-hover-without-javascript" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">103 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.1.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.1.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/featured/thumbnail-hover-without-javascript">Thumbnail Hover without Javascript</a>
	    	</p>
	    </div>
            <a href="http://bootsnipp.com/snippets/featured/thumbnail-hover-without-javascript">
                <img class="lazy" data-original="http://bootsnipp.com/img/screenshots/bb090bc42ae5096cd8602dd6505504423b97248d.jpeg" width="320" height="240" alt="Thumbnail Hover without Javascript" src="http://bootsnipp.com/img/screenshots/bb090bc42ae5096cd8602dd6505504423b97248d.jpeg" style="display: block;">
        </a>

    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/featured/thumbnail-hover-without-javascript" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/featured/portfolio-using-panels-no-javascript" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">52.4K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/featured/portfolio-using-panels-no-javascript" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">124 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.0.3"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.0.3</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/featured/portfolio-using-panels-no-javascript">Portfolio using Panels No JavaScript!</a>
	    	</p>
	    </div>
            <a href="http://bootsnipp.com/snippets/featured/portfolio-using-panels-no-javascript">
                <img class="lazy" data-original="http://bootsnipp.com/img/screenshots/92fb69f8449df4e19e8fb2d929bf58f74ceb23a5.jpeg" width="320" height="240" alt="Portfolio using Panels No JavaScript!" src="http://bootsnipp.com/img/screenshots/92fb69f8449df4e19e8fb2d929bf58f74ceb23a5.jpeg" style="display: block;">
        </a>

    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/featured/portfolio-using-panels-no-javascript" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/featured/image-gallery-with-fancybox" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">116.3K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/featured/image-gallery-with-fancybox" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">121 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.0.3"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.0.3</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/featured/image-gallery-with-fancybox">Image Gallery with Fancybox</a>
	    	</p>
	    </div>
            <a href="http://bootsnipp.com/snippets/featured/image-gallery-with-fancybox">
                <img class="lazy" data-original="http://bootsnipp.com/img/screenshots/1b416423b2e63ee3237f65d72da4881742548df1.jpeg" width="320" height="240" alt="Image Gallery with Fancybox" src="http://bootsnipp.com/img/screenshots/1b416423b2e63ee3237f65d72da4881742548df1.jpeg" style="display: block;">
        </a>

    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/featured/image-gallery-with-fancybox" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/featured/article-carousel-with-images-indicators" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">84.2K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/featured/article-carousel-with-images-indicators" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">95 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.0.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.0.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/featured/article-carousel-with-images-indicators">Article carousel with images indicators</a>
	    	</p>
	    </div>
            <a href="http://bootsnipp.com/snippets/featured/article-carousel-with-images-indicators">
                <img class="lazy" data-original="http://bootsnipp.com/img/screenshots/d9a4584a01e41f4b5eac06367f843948a6618fc6.jpeg" width="320" height="240" alt="Article carousel with images indicators" src="http://bootsnipp.com/img/screenshots/d9a4584a01e41f4b5eac06367f843948a6618fc6.jpeg" style="display: block;">
        </a>

    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/featured/article-carousel-with-images-indicators" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
        	                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/featured/simple-responsive-image-gallery" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">158.0K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/featured/simple-responsive-image-gallery" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">149 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.1.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.1.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/featured/simple-responsive-image-gallery">Simple Responsive Image Gallery</a>
	    	</p>
	    </div>
            <a href="http://bootsnipp.com/snippets/featured/simple-responsive-image-gallery">
                <img class="lazy" data-original="http://bootsnipp.com/img/screenshots/4db2db5b1a9eda8003db63551c8ae4e3661ea709.jpeg" width="320" height="240" alt="Simple Responsive Image Gallery" src="http://bootsnipp.com/img/screenshots/4db2db5b1a9eda8003db63551c8ae4e3661ea709.jpeg" style="display: block;">
        </a>

    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/featured/simple-responsive-image-gallery" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/featured/image-gallery-with-fancybox" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">116.3K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/featured/image-gallery-with-fancybox" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">121 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.0.3"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.0.3</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/featured/image-gallery-with-fancybox">Image Gallery with Fancybox</a>
	    	</p>
	    </div>
            <a href="http://bootsnipp.com/snippets/featured/image-gallery-with-fancybox">
                <img class="lazy" data-original="http://bootsnipp.com/img/screenshots/1b416423b2e63ee3237f65d72da4881742548df1.jpeg" width="320" height="240" alt="Image Gallery with Fancybox" src="http://bootsnipp.com/img/screenshots/1b416423b2e63ee3237f65d72da4881742548df1.jpeg" style="display: block;">
        </a>

    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/featured/image-gallery-with-fancybox" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/featured/easy-image-gallery-in-a-modal" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">130.4K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/featured/easy-image-gallery-in-a-modal" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">64 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.2.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.2.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/featured/easy-image-gallery-in-a-modal">Easy image gallery in a modal</a>
	    	</p>
	    </div>
            <a href="http://bootsnipp.com/snippets/featured/easy-image-gallery-in-a-modal">
                <img class="lazy" data-original="http://bootsnipp.com/img/screenshots/eeae660c2cf247fca5cf128a46963285ad335156.jpeg" width="320" height="240" alt="Easy image gallery in a modal" src="http://bootsnipp.com/img/screenshots/eeae660c2cf247fca5cf128a46963285ad335156.jpeg" style="display: block;">
        </a>

    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/featured/easy-image-gallery-in-a-modal" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/featured/masonry-image-gallery" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">75.3K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/featured/masonry-image-gallery" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">31 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.3.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.3.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/featured/masonry-image-gallery">masonry Image Gallery</a>
	    	</p>
	    </div>
            <a href="http://bootsnipp.com/snippets/featured/masonry-image-gallery">
                <img class="lazy" data-original="http://bootsnipp.com/img/screenshots/13b48e2c9cb94c759bb388b935eac468f83e3f7c.jpg" width="320" height="240" alt="masonry Image Gallery" src="http://bootsnipp.com/img/screenshots/13b48e2c9cb94c759bb388b935eac468f83e3f7c.jpg" style="display: block;">
        </a>

    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/featured/masonry-image-gallery" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/WPmbr" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">5.8K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/WPmbr" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">18 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.3.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.3.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/WPmbr">Gallery with slider</a>
	    	</p>
	    </div>
                        <div style="padding-left: 10px; position: relative; height: 195px;"><iframe class="new-preview" rel="nofollow" style="z-index: 1; height: 800px; width: 1200px; transform: scale(0.204167); transform-origin: 0px 0px 0px;" frameborder="0" scrolling="no" src="http://d2d3qesrx8xj6s.cloudfront.net/iframe/WPmbr"></iframe>
<a href="http://bootsnipp.com/snippets/WPmbr" style="height:100%;width:100%">
<div style="position:absolute;top:0;left:0;width:100%;height:100%">
</div>
</a>
</div>
<!--                        <div style="padding-left:10px;"><iframe rel="nofollow" class="snippet-preview" frameborder="0" scrolling="no" allowTransparency="true" src="http://d2d3qesrx8xj6s.cloudfront.net/siframe/WPmbr" data-url="http://bootsnipp.com/snippets/WPmbr"></iframe></div>-->
    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/WPmbr" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/WPKPO" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">15.1K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/WPKPO" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">11 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.3.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.3.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/WPKPO">3d images gallery</a>
	    	</p>
	    </div>
                        <div style="padding-left: 10px; position: relative; height: 195px;"><iframe class="new-preview" rel="nofollow" style="z-index: 1; height: 800px; width: 1200px; transform: scale(0.204167); transform-origin: 0px 0px 0px;" frameborder="0" scrolling="no" src="http://d2d3qesrx8xj6s.cloudfront.net/iframe/WPKPO"></iframe>
<a href="http://bootsnipp.com/snippets/WPKPO" style="height:100%;width:100%">
<div style="position:absolute;top:0;left:0;width:100%;height:100%">
</div>
</a>
</div>
<!--                        <div style="padding-left:10px;"><iframe rel="nofollow" class="snippet-preview" frameborder="0" scrolling="no" allowTransparency="true" src="http://d2d3qesrx8xj6s.cloudfront.net/siframe/WPKPO" data-url="http://bootsnipp.com/snippets/WPKPO"></iframe></div>-->
    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/WPKPO" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/7XVM2" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">47.8K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/7XVM2" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">9 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.2.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.2.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/7XVM2">Bootstrap 3 Lightbox image gallery using Modal</a>
	    	</p>
	    </div>
                        <div style="padding-left: 10px; position: relative; height: 195px;"><iframe class="new-preview" rel="nofollow" style="z-index: 1; height: 800px; width: 1200px; transform: scale(0.204167); transform-origin: 0px 0px 0px;" frameborder="0" scrolling="no" src="http://d2d3qesrx8xj6s.cloudfront.net/iframe/7XVM2"></iframe>
<a href="http://bootsnipp.com/snippets/7XVM2" style="height:100%;width:100%">
<div style="position:absolute;top:0;left:0;width:100%;height:100%">
</div>
</a>
</div>
<!--                        <div style="padding-left:10px;"><iframe rel="nofollow" class="snippet-preview" frameborder="0" scrolling="no" allowTransparency="true" src="http://d2d3qesrx8xj6s.cloudfront.net/siframe/7XVM2" data-url="http://bootsnipp.com/snippets/7XVM2"></iframe></div>-->
    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/7XVM2" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/33Qjo" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">14.2K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/33Qjo" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">9 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.3.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.3.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/33Qjo">Responsive Lightbox Gallery With Popup on click with Description. NO JS. Only CSS. Any size Image fits Well. Awesome Effects.</a>
	    	</p>
	    </div>
                        <div style="padding-left: 10px; position: relative; height: 195px;"><iframe class="new-preview" rel="nofollow" style="z-index: 1; height: 800px; width: 1200px; transform: scale(0.204167); transform-origin: 0px 0px 0px;" frameborder="0" scrolling="no" src="http://d2d3qesrx8xj6s.cloudfront.net/iframe/33Qjo"></iframe>
<a href="http://bootsnipp.com/snippets/33Qjo" style="height:100%;width:100%">
<div style="position:absolute;top:0;left:0;width:100%;height:100%">
</div>
</a>
</div>
<!--                        <div style="padding-left:10px;"><iframe rel="nofollow" class="snippet-preview" frameborder="0" scrolling="no" allowTransparency="true" src="http://d2d3qesrx8xj6s.cloudfront.net/siframe/33Qjo" data-url="http://bootsnipp.com/snippets/33Qjo"></iframe></div>-->
    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/33Qjo" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/QXOj" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">5.5K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/QXOj" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">9 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.0.1"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.0.1</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/QXOj">Bootstrap Image Gallery Demo</a>
	    	</p>
	    </div>
                        <div style="padding-left: 10px; position: relative; height: 195px;"><iframe class="new-preview" rel="nofollow" style="z-index: 1; height: 800px; width: 1200px; transform: scale(0.204167); transform-origin: 0px 0px 0px;" frameborder="0" scrolling="no" src="http://d2d3qesrx8xj6s.cloudfront.net/iframe/QXOj"></iframe>
<a href="http://bootsnipp.com/snippets/QXOj" style="height:100%;width:100%">
<div style="position:absolute;top:0;left:0;width:100%;height:100%">
</div>
</a>
</div>
<!--                        <div style="padding-left:10px;"><iframe rel="nofollow" class="snippet-preview" frameborder="0" scrolling="no" allowTransparency="true" src="http://d2d3qesrx8xj6s.cloudfront.net/siframe/QXOj" data-url="http://bootsnipp.com/snippets/QXOj"></iframe></div>-->
    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/QXOj" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/A8x05" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">8.8K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/A8x05" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">7 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.3.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.3.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/A8x05">Responsive Gallery</a>
	    	</p>
	    </div>
                        <div style="padding-left: 10px; position: relative; height: 195px;"><iframe class="new-preview" rel="nofollow" style="z-index: 1; height: 800px; width: 1200px; transform: scale(0.204167); transform-origin: 0px 0px 0px;" frameborder="0" scrolling="no" src="http://d2d3qesrx8xj6s.cloudfront.net/iframe/A8x05"></iframe>
<a href="http://bootsnipp.com/snippets/A8x05" style="height:100%;width:100%">
<div style="position:absolute;top:0;left:0;width:100%;height:100%">
</div>
</a>
</div>
<!--                        <div style="padding-left:10px;"><iframe rel="nofollow" class="snippet-preview" frameborder="0" scrolling="no" allowTransparency="true" src="http://d2d3qesrx8xj6s.cloudfront.net/siframe/A8x05" data-url="http://bootsnipp.com/snippets/A8x05"></iframe></div>-->
    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/A8x05" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/X0lqv" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">8.4K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/X0lqv" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">4 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.0.3"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.0.3</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/X0lqv">Gallery with pagination</a>
	    	</p>
	    </div>
                        <div style="padding-left: 10px; position: relative; height: 195px;"><iframe class="new-preview" rel="nofollow" style="z-index: 1; height: 800px; width: 1200px; transform: scale(0.204167); transform-origin: 0px 0px 0px;" frameborder="0" scrolling="no" src="http://d2d3qesrx8xj6s.cloudfront.net/iframe/X0lqv"></iframe>
<a href="http://bootsnipp.com/snippets/X0lqv" style="height:100%;width:100%">
<div style="position:absolute;top:0;left:0;width:100%;height:100%">
</div>
</a>
</div>
<!--                        <div style="padding-left:10px;"><iframe rel="nofollow" class="snippet-preview" frameborder="0" scrolling="no" allowTransparency="true" src="http://d2d3qesrx8xj6s.cloudfront.net/siframe/X0lqv" data-url="http://bootsnipp.com/snippets/X0lqv"></iframe></div>-->
    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/X0lqv" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
                  <div class="col-sm-12 col-xs-12 col-md-4 col-lg-3">
    <div class="thumbnail bootsnipp-thumb">
	    <div>
	    	<p class="pull-right view-counts hidden-md">
	    		<a href="http://bootsnipp.com/snippets/RXvD3" class="tip" data-toggle="tooltip" title="" data-original-title="Viewed">1.8K <i class="icon-eye-open"></i></a>

	    		<a href="http://bootsnipp.com/snippets/RXvD3" class="tip" data-toggle="tooltip" title="" data-original-title="Favorited">3 <i class="icon-thumbs-up"></i></a>
<!--	    		<a href="http://bootsnipp.com/tags/3.3.0"><span class="label label-info tip" data-toggle="tooltip" title="Bootstrap version">3.3.0</span></a>-->
	    	</p>
	    	<p class="lead snipp-title">
	    		<a href="http://bootsnipp.com/snippets/RXvD3">Photo Gallery Preview with large and small images align</a>
	    	</p>
	    </div>
                        <div style="padding-left: 10px; position: relative; height: 195px;"><iframe class="new-preview" rel="nofollow" style="z-index: 1; height: 800px; width: 1200px; transform: scale(0.204167); transform-origin: 0px 0px 0px;" frameborder="0" scrolling="no" src="http://d2d3qesrx8xj6s.cloudfront.net/iframe/RXvD3"></iframe>
<a href="http://bootsnipp.com/snippets/RXvD3" style="height:100%;width:100%">
<div style="position:absolute;top:0;left:0;width:100%;height:100%">
</div>
</a>
</div>
<!--                        <div style="padding-left:10px;"><iframe rel="nofollow" class="snippet-preview" frameborder="0" scrolling="no" allowTransparency="true" src="http://d2d3qesrx8xj6s.cloudfront.net/siframe/RXvD3" data-url="http://bootsnipp.com/snippets/RXvD3"></iframe></div>-->
    	<div class="caption">
<!--        	<p><a href="http://bootsnipp.com/snippets/RXvD3" class="btn btn-primary btn-lg btn-block">View</a></p>-->
    	</div>
    </div>
</div>
        	    </div>
    <div class="row">
		      <div class="text-center"><ul class="pagination pagination-large">
		<li class="disabled"><span>«</span></li><li class="active"><span>1</span></li><li><a href="http://bootsnipp.com/tags/gallery?page=2">2</a></li><li><a href="http://bootsnipp.com/tags/gallery?page=3">3</a></li><li><a href="http://bootsnipp.com/tags/gallery?page=2" rel="next">»</a></li>	</ul>
</div>
	    </div>

       <div class="row">
      <div style="padding-left:15px;padding-right:15px;width:390px;height:300px;float:left;"><div style="height:300px;padding:10px" class="thumbnail bootsnipp-thumb">  <div id="ads-container">
	<!-- bootsnipp-big-rect -->
<!--<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-8815422507798180"
     data-ad-slot="4050713320"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
-->
<!-- BuySellAds Zone Code -->
<div id="bsap_1305165" class="bsarocks bsap_ac1f95c148ce6148393fd34e69a52240"></div>
<!-- End BuySellAds Zone Code -->

</div>

</div></div>
      <div style="padding-left:15px;padding-right:15px;width:390px;height:300px;float:right;"><div style="height:300px;padding:10px" class="thumbnail bootsnipp-thumb hidden-sm hidden-xs">  <div id="ads-container">
	<!-- bootsnipp-big-rect -->
<!--<ins class="adsbygoogle"
     style="display:inline-block;width:336px;height:280px"
     data-ad-client="ca-pub-8815422507798180"
     data-ad-slot="4050713320"></ins>
	<script>
	(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
-->
<!-- BuySellAds Zone Code -->
<div id="bsap_1305167" class="bsarocks bsap_ac1f95c148ce6148393fd34e69a52240"></div>
<!-- End BuySellAds Zone Code -->

</div>

</div></div>
      <div style="padding-left:15px;padding-right:15px;width:auto;height:300px;margin-left:390px;margin-right:390px;" class="hidden-sm hidden-xs"><div style="height:300px;" class="thumbnail bootsnipp-thumb">
<iframe src="http://www.danstools.com/dansframe.php" scrolling="no" style="padding:10px;border: 0; width:100%; height:100%"></iframe>
      </div></div>
    </div>
       </div>
